#image {
  color: #1C1A1C;
  font-family: 'Roboto', sans-serif;
  min-width:60vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0px
}

img {
  width: 300px;
  height: auto;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#image-chat {
  background: #e2e8f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  text-align: left;
  box-sizing: border-box; 
}

#image-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: fixed;
  bottom: 0;
}


#image-input > input {
  background: #fff;
  border: 2px solid #4c51bf;
  border-radius: 30px;
  width: 100%; 
  width: 600px;
  padding: 15px;
  color: #4c51bf;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  #image-input > input {
    width: 60%;
  }
}


#image-input > button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 20px 20px;
  margin-right: 8px;
  color: #fff;
  border-radius: 15px;
  background: black; 
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}
#image-input > button:hover {
  filter: invert(100%);
}
